---
---
$colour-page-bg:    #fdfdfd;
$colour-link:       #4573D5;
$colour-nav-link:   #1142aa;
$colour-outline:    #ffb173;
$colour-h1:         #ff7100;
$colour-h2:         #0acf00;
$gutter:            2em;

body {
    background-color: $colour-page-bg;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.5em;
    font-size: 16px;
}

p {
    display: block;
    /*  font-size:0.875em; */
    margin: 0 0 1em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin ITC Pro Light','helvetica neue', Helvetica, Verdana, Arial, sans-serif;
    display:block;
    font-style: normal;
    font-weight: bold;
    webkit-text-stroke: 1px transparent;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1em;
    color: $colour-h2;
}

h1 {
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: $colour-h1;
    font-size: 500%;
}

h2 {
    // padding-top: 1.5em;
    // padding-bottom: 0.5em;
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

a {
    color: $colour-link;
}

em {
    font-style:italic;
}

div {
    clear: both;
    display: block;
}

ul {    
    list-style-position: inside;
    list-style-type: disc;
    padding-bottom: 1em;
    padding-left: 1em;
}

#content {
    border-width: thin;
    border-left-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: solid;
    margin-right: $gutter;
    margin-left: $gutter;
    border-color: $colour-outline;

    p {
        max-width: 70em;
    }
}

.pageTitle {
    border-color: $colour-outline;
    border-left-style: none;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    text-align: center;
    border-width: thin;
}

ul#nav{
    list-style: none;
    list-style-type:none;
}



#nav {

    li {
        letter-spacing: 0.1em;
        margin-left: 0px;
        margin-bottom: 0;
        margin-right: 0.7em;
        margin-top: 0;
        float: left;
    }

    &:first-child {
        padding-left: 0;
    }

    a {
        color: $colour-nav-link;  
    }
}




a {
    text-decoration: none;  

    &:hover, &:focus {
        text-decoration: underline;
    }
}

#header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em; 
    margin-right: $gutter;
    margin-left: $gutter;


}

#footer {
    margin-top: 1em;
    font-size:0.875em;
    padding: 0.5em;
    font-size: 60%;
    line-height:1.2em;
    // margin-right:6em;    
    padding-bottom: 1em;

    margin-right: $gutter;
    margin-left: $gutter;

}

#contact {
    float:right;
    display: block;

    span {
        display: block;
    }
}



cite {
    font-style: italic;
}

@media only screen and (max-width: 500px) {

    #header {
        margin-right: 1em;
        margin-left: 1em;
    }

    #content {
        font-size: 130%;
        margin-right: 1em;
        margin-left: 1em;
        line-height: 1.5em;
    }

    h1 {
        font-size: 200%;
    }

    #footer {
        margin-right:0em;
        margin-left:0em;
    }

    #contact {
        text-align: center;
        float: none;
        font-size: 1.6em;
        margin-left:1em;
        margin-right:1em;
    }

    #contact  > span > span, #contact .url {
        display:none;
    }

    
}
