<div id="footer">
    <span id="contact">
        <span id="hcard-Christian-Cable" class="vcard">
            <a class="url fn" href="http://www.lancs.ac.uk/~cable">Christian Cable</a>
            <span class="org">Communications and Marketing</span>
            <span class="adr">
                <span class="street-address">Secruity Lodge; Lancaster University</span>
                <span class="locality">Lancaster</span>
                <span class="region">Lancashire</span>
                <span class="postal-code">LA1 4YW</span>
            </span>
            <span class="email"><a href="mailto:christian.cable@lancaster.ac.uk">christian.cable@lancaster.ac.uk</a></span>
            <span class="tel">(01524)  594375</span>
        </span>
    </span>
</div> <!-- footer -->