<div id="header">
	<nav>
        <ul>
         {% for currentPage in site.pages %}
         {% if currentPage.menu %}
             <li class="nav-item">
                 {% if currentPage.shorttitle == page.shorttitle %}
                     <a class="page-link current" 
                 {% else %}
                     <a class="page-link" 
                 {% endif %}
                 href="{{ currentPage.url | prepend: site.baseurl }}">{{ currentPage.shorttitle }}</a>
             </li>
         {% endif %}
         {% endfor %}
     </ul>
 </nav>
</div>
<!-- end nav -->
